<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark scheme-color-4 flex-sm-nowrap flex-wrap fixed-top"
     id="my-navbar" th:fragment="navbar">
    <div class="container-fluid">
        <span class="flex-grow-1"></span>
        <div class="navbar-collapse collapse flex-grow-1 justify-content-center">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-2">
                    <a class="nav-link" href="#about-me">About me</a>

                <li class="nav-item px-2">
                    <a class="nav-link" href="#experience">Experience</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#recommendation">Recommendation</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#about">About</a>
                </li>
            </ul>
        </div>
        <div class="flex-grow-1"></div>
    </div>
</nav>
</body>
</html>
