<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">

<head>
    <div th:replace="~{fragments/general/header :: header}"></div>
    <style>
        [x-cloak] { display: none !important; }
    </style>
</head>

<body class="min-h-screen flex flex-col">
    <a href="#main-content" class="skip-link">Skip to main content</a>

    <header>
        <div th:replace="~{fragments/general/navbar :: navbar}"></div>
    </header>

    <main id="main-content" class="flex-1 pt-16" tabindex="-1">
        <div layout:fragment="content"></div>
    </main>

    <div th:replace="~{fragments/general/footer :: footer}"></div>

    <button x-data="{ visible: false }"
            x-init="window.addEventListener('scroll', () => { visible = window.scrollY > 500 })"
            x-show="visible"
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="opacity-0 translate-y-4"
            x-transition:enter-end="opacity-100 translate-y-0"
            x-transition:leave="transition ease-in duration-200"
            x-transition:leave-start="opacity-100 translate-y-0"
            x-transition:leave-end="opacity-0 translate-y-4"
            @click="window.scrollTo({ top: 0, behavior: 'smooth' })"
            class="scroll-to-top"
            aria-label="Scroll to top"
            x-cloak>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
        </svg>
    </button>

    <script src="https://kit.fontawesome.com/b73a5b4c7a.js" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/htmx.org/dist/htmx.min.js}" defer></script>
    <script th:src="@{/webjars/alpinejs/dist/cdn.min.js}" defer></script>
    <script th:src="@{/theme-toggle.js}" defer></script>
    <script th:src="@{/enhancements.js}" defer></script>
</body>
</html>
