/*Navbar spacing*/
@media (min-width: 981px) { body { padding-top: 56px; } }

.progress-bar {
    transform: rotate(180deg);
}
/*for navbar scrollspy to the firs telement*/
#about-me {
    padding-top: 50px;
    margin-top: -50px;
}
.carousel-item {
  height: 80vh;
  min-height: 350px;
  background-size: cover;
}

.my-header {
    font-size: 4vh;
}

.hobby-card {
    border-radius: 8px;
    transition: transform 0.3s;
    background-color: #CCDDEB;
}

.hobby-card:hover {
    transform: scale(1.10);
}

.section-two-card-title{
    color: #4E6E8C;
}
.scheme-color-1{
    background-color: #EBDECC;
}
.scheme-color-2{
    background-color: #7492AB;
}
.scheme-color-3{
    background-color: #CCDDEB;
}
.scheme-color-4{
    background-color: #967E5A;
}
.scheme-color-5{
    background-color: #2E506B;
}
.scheme-color-6 {
    background-color: #4E6E8C;
}
/*timeline*/
.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}
