<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
</head>

<body>
<section layout:fragment="content">
    <div class="row scheme-color-1">
        <div class="col-md-6">
            <div class="row md-4">
                <div th:replace="~{fragments/home-page/jumbotron :: jumbotron}"></div>
            </div>
            <div class="row md-4">
                <div th:replace="~{fragments/home-page/hobbies :: hobbies}"></div>
            </div>
            <div class="row md-4">
                <div>Placeholder</div>
            </div>
        </div>
        <div class="col-md-6">
            <div th:replace="~{fragments/home-page/carousel :: carousel}"></div>
        </div>
    </div>
    <div class="row scheme-color-2">
        <div class="col-md-3">
            <div th:replace="~{fragments/home-page/certificates :: certificates}"></div>
        </div>
        <div class="col-md-6">
            <div th:replace="~{fragments/home-page/experience :: experience}"></div>
        </div>
        <div class="col-md-3">
            <div th:replace="~{fragments/home-page/skills :: skills}"></div>
        </div>
    </div>
</section>
</body>

</html>
