<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="jumbotron jumbotron-fluid" th:fragment="aboutme">
    <div class="container">
        <h1 class="display-4 text-center">Hey, I'm Phi</h1>
        <hr class="my-4">

        <p class="lead" th:text="
        'Hey there! I\'m Phi, your neighborhood software engineer clocking in at ' + ${details.age()} + ' years
        old. I stumbled into the coding world ' + ${details.programmerPeriod().getYears()} + ' years ago. I\'ve been
        in love with the craft ever since, taking pride in my work as I hone my craftsmanship. Truly, the thought that
         there is always more to learn and improve keeps me striving.'"></p>

        <p class="lead" th:text="
        'Professionally, I\'ve been at it for over ' + ${details.professionalProgrammerPeriod().getYears()} + ' years and
        ' + ${details.professionalProgrammerPeriod().getMonths()} + ' months. If you\'re curious about the twists and
        turns that led me here, feel free to explore my work history below.'"></p>

        <p class="lead" th:text="
        'Furthermore, I\'ve chosen to spotlight a select few of my most significant skills, providing a glimpse into the
         valuable techniques and insights I\'ve acquired. Additionally,  you\'ll find certificates and diplomas that
         signify important milestones in my ongoing learning journey.'"></p>

        <p class="lead" th:text="
        'Finally, my colleagues generously took the time to offer sincere recommendations, and I\'m genuinely thankful
         for their support. Their encouragement and thoughtful guidance have been invaluable in my professional journey.
         I deeply respect our teamwork that has set the trajectory of my career. Please have a look if you\'re curious
         about what some of my colleagues have to say about working together.'"></p>

        <p class="lead" th:text="
        'This website is a simple showcase of where I stand in my career and a taste of my personality.
         No frills, just an honest reflection. I\'ve also included a technical section for those interested in how
         this website is hosted.
         Thanks for taking the time to read and maybe talk to you soon :)'"></p>


    </div>
</div>
</body>
</html>
