<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel" th:fragment="carousel">
        <div class="carousel-inner" >
            <div class="carousel-item active">
                <img th:src="@{static/images/self_beach.png}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img th:src="@{static/images/self_cat.png}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img th:src="@{static/images/self_pieter.png}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</body>
</html>