<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

<div class="jumbotron jumbotron-fluid m-3" th:fragment="improvements">
    <h5> Future Improvements</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item scheme-color-3"><s>Support Https & DDoS prevention</s></li>
        <li class="list-group-item scheme-color-3"><s>Publicize repository safely</s></li>
        <li class="list-group-item scheme-color-3">OAuth 2 for login & commenting</li>
        <li class="list-group-item scheme-color-3">Extend color scheme</li>
        <li class="list-group-item scheme-color-3">More semantic HTML</li>
        <li class="list-group-item scheme-color-3">Improved responsiveness</li>
        <li class="list-group-item scheme-color-3">Further accessibility improvements</li>
        <li class="list-group-item scheme-color-3"><s>Improve cloud cost efficiency</s></li>
        <li class="list-group-item scheme-color-3">SonarQube & NexusIQ in pipeline</li>
        <li class="list-group-item scheme-color-3">Add relevant links to Hobbies</li>
        <li class="list-group-item scheme-color-3">Contact form</li>
        <li class="list-group-item scheme-color-3"><s>Favicon</s></li>
        <li class="list-group-item scheme-color-3">Navigation bar styling/highlighting</li>

    </ul>
</div>
</body>

</html>