<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body th:fragment="recommendation">
<div class="jumbotron text-center">
    <h3 class="display-4 my-header">Recommendation Letters</h3>
</div>
<hr class="my-4">
<div class="accordion accordion-flush py-3" id="recommendationAccordion">

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Armend Hoxha
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
             data-bs-parent="#recommendationAccordion">
            <div class="accordion-body">
                <iframe th:src="@{static/pdf/recommendation_letter_armend_hoxha_without_signature.pdf#toolbar=0}"
                        class="min-vh-100 w-100">
                </iframe>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Rob Smorenburg
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
             data-bs-parent="#recommendationAccordion">
            <div class="accordion-body d-flex justify-content-center">
                <iframe th:src="@{static/pdf/recommendation_letter_rob_smorgenburg_without_signature.pdf#toolbar=0}"
                        class="min-vh-100 w-100"></iframe>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                Rachid El Kaddouri
            </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
             data-bs-parent="#recommendationAccordion">
            <div class="accordion-body d-flex justify-content-center">
                <iframe th:src="@{static/pdf/recommendation_rachid_without_signature.pdf#toolbar=0}"
                        class="min-vh-100 w-100"></iframe>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Finally...
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
             data-bs-parent="#recommendationAccordion">
            <div class="accordion-body d-flex justify-content-center">
                <img th:src="@{static/images/recommendation_meme.jpg}" class=" d-block"
                     alt="meme wishing I had more recommendation letters :(. I guess you can't have it all.">
            </div>
        </div>
    </div>
</div>
</body>

</html>