<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>
<section class="py-5" th:fragment="timeline">
    <ul class="timeline-with-icons" th:each="event : ${details.events}" >
        <li class="timeline-item mb-5">
            <span class="timeline-icon">
                <i class="fas fa-rocket text-primary fa-sm fa-fw"></i>
            </span>

            <h5 class="fw-bold" th:text="${event.jobTitle}"></h5>
            <p class="mb-2 fw-bold" th:text="${event.employer}"></p>
            <p class="mb-2 fw-bold" th:text="${event.getWorkPeriod}"></p>
            <p th:text="${event.description}"></p>
        </li>
    </ul>
</section>
</body>

</html>
