name: build_and_publish

permissions:
  contents: read
  pull-requests: write
  packages: write

on:
  workflow_dispatch: { }
  push:
    branches:
      - main

jobs:
  build:
    timeout-minutes: 3
    runs-on: ubuntu-latest

    steps:
      - name: checkout_code
        uses: actions/checkout@v6

      - name: setup_java_25
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
          cache: maven

      - name: build_with_maven
        run: mvn clean package -B -T 4

      - name: login_to_docker
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.repository_owner}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: build_and_push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          tags: ghcr.io/phitiet/portfolio:latest
