name: build_on_pr

permissions:
  contents: read
  pull-requests: read

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout_code
        uses: actions/checkout@v5

      - name: setup_java_21
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: 21

      - name: build
        run: mvn clean verify
